* {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading {
    font-size: 50px;
    text-align: center;
    margin-top: 3%;
}
.heading::after {
    content: "camelCaseConverter";
  /* animation-duration = number of keyframes * duration per keyframe */
    animation: change-text 10s infinite;
  }

@keyframes change-text {
    10% {
        content: "camelCaseConverter";
      }
     20% {
        content: "camel CaseConverter";
      }
      40% {
          content: "camel Case Converter";
      }
      60% {
          content: "Camel Case Converter";
      }   
      80% {
        content: "CamelCase Converter";
      }
     100% {
        content: "CamelCaseConverter";
      }
  }

input {
    width: 365px;
    border-radius: 10px;
}

.entry-header,
.result-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    flex-basis: 500px;
}

#entry,
#result {
    margin: 20px;
    padding: 20px;
    font-size: 30px;
}


.result {
    font-size: 40px;
}

